:root {
  // Background
  --bg-primary: #60b6bf;
  --bg-primary-light: #8fcbd9;
  --bg-primary-dark: #008a8a;
  --bg-primary-darker: #016f83;
  --bg-secondary: #84f1c5;
  --bg-light: #f2f2f2;
  --bg-light-1: #fafafa;
  --bg-grey-light: #f4f2f2;
  --bg-grey-light-1: #f0eeee;
  --bg-grey-light-2: #ccc;
  --bg-grey-dark: #333;
  --bg-grey-dark-1: #777;
  --bg-grey-dark-2: #999;
  --bg-grey-light-3: #d9d9d9;

  // Text
  --txt-primary: #05aff2;
  --txt-primary-light: #8fcbd9;
  --txt-primary-dark: #03a6a6;
  --txt-primary-darker: #027386;
  --txt-dark: #333;
  --txt-light: #f2f2f2;
  --txt-grey-light: #f4f2f2;
  --txt-grey-light-1: #f0eeee;
  --txt-grey-light-2: #ccc;
  --txt-grey-dark-1: #777;
  --txt-grey-dark-2: #999;

  // Shadow
  --shadow-light: 0 15px 10px #777;
  --shadow-dark: 0 10px 6px -6px #777;

  // Line
  --line: 1px solid var(--grey-light-4);
}
