//Borders
@mixin avatar-border {
  border: 2px solid var(--bg-grey-light-1);
  border-radius: 3px;
  padding: 1px;
}

@mixin slightly-curved {
  border-radius: 4px;
}

@mixin flash-card {
  background-color: var(--bg-light-1);
  border: 1px dashed var(--bg-grey-light-3);
  cursor: not-allowed;
  @include slightly-curved;
}

// Effects
@mixin btn-effect {
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s;
  }

  &:active {
    transition: all 0.1s;
    opacity: 1;
  }

  &:focus {
    outline: 1px solid var(--primary);
  }
}

@mixin border-drawing(
  $color: var(--bg-grey-light-2),
  $hover: var(--bg-primary-dark),
  $width: 1px,
  $vertical: top,
  $horizontal: left,
  $duration: 0.25s
) {
  box-shadow: inset 0 0 0 $width $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover !important;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before {
      transition-delay: 0s, 0s, $duration;
    }

    &::after {
      transition-delay: 0s, $duration, 0s;
    }
  }
}

/* 
 Media queries manager
 0 - 600px phone
 600px - 900px tab-port
 900px - 1200px tab-land
 1200px - 1800px normal styles
 1200px large-desktop desktops
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 38.05em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == large-desktop {
    @media only screen and (max-width: 112.5em) {
      @content;
    }
  }
}

// Position
@mixin clear-fix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin absolute-expand {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
