//Borders
@mixin avatar-border {
  border: 2px solid var(--bg-grey-light-1);
  border-radius: 3px;
  padding: 1px;
}

// Effects
@mixin btn-effect {
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s;
  }

  &:active {
    transition: all 0.1s;
    opacity: 1;
  }

  &:focus {
    outline: 1px solid var(--primary);
  }
}

/* 
 Media queries manager
 0 - 600px phone
 600px - 900px tab-port
 900px - 1200px tab-land
 1200px - 1800px normal styles
 1200px large-desktop desktops
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == large-desktop {
    @media only screen and (max-width: 112.5em) {
      @content;
    }
  }
}

// Position
@mixin clear-fix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
